<!DOCTYPE html>
<html>

<head>

    <title>SQL Injection Detection System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>SQL Injection Detection System</h1>

    <form method="POST">

        <input
            type="text"
            name="payload"
            placeholder="Enter SQL Query"
            required>

        <br><br>

        <button type="submit">
            Check
        </button>

    </form>

    <br>

    {% if result %}

    <div class="alert {{ color }}">
        <h2>{{ result }}</h2>
    </div>

    {% endif %}

    <br>

    <a href="/dashboard">View Dashboard</a>

</div>

</body>

</html>